.container > .button {
    display: inline;
    margin: 20px;
}

.container > p {
    margin-bottom: 70px;
}

@media screen and (max-width: 1030px) {
    .container > .button {
        display: block;
    }
}
